@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
* {
  padding: 0px;
  margin: 0px;
}
body {
  color: #f2eee5;
  background-color: #1b2a49;
  font-family: 'Cinzel', serif;
}

.users {
  text-align: center;
}

.loginPageDiv {
  text-align: center;
  margin-top:10%;
  height:100vh;
}

.loginPageLogo {
  width: 200px;
  height:auto;
}

.nameAndProfileDiv {
  width:25%;
  margin:20px auto auto 0px;
  text-align: left;

}
.profilePic {
  width: 40px;
  height: auto;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
  margin-left:10px;
  margin-right:10px;
  
}
.sayHello {
  display:inline;
  font-size: 20px;
  vertical-align: middle;
}

.signoutBtn {
  display: block;
  margin: 20px auto auto 27%;
}
.playlistImageAndPlayerDiv {
  display: flex;
  justify-content: center;
}
.individualPlaylistSection {
  margin-top: 20px;
  margin-bottom: 20px;
}
.playlistsTitle {
  margin-bottom: 30px;
}
.playlistImg {
  height:300px;
  width:300px;
}
.playlistsDiv {
  margin-top:60px;
}
.playerDiv {
  display: inline;
  margin-left:20px;
}
.iframe {
  width: 300px;
  height:300px;
}
.playlistImg:hover {
	box-shadow: 6px 6px 6px palevioletred;
  transform: scale(1.03);
  transition: all .3s ease-in-out;
}
